# backups and VCS
.svn
*/.svn
*~
*.swp
*.orig
# build outputs
.rebar/
rebar.cross_compile.config
config.tmp
*.pdb
*.beam
ebin/
priv/*.exp
priv/*.lib
.eunit/
doc/
sqlite3.plt
TEST*.xml
*.db
*.exp
*.lib
*.obj
*.o
*.so
# crash dump
erl_crash.dump
sqlite3.dll
sqlite3.so
